tqdm
numpy
matplotlib
gymnasium
ipympl
pydantic==2.6.0
do-mpc==4.6.4
onnx
openai==1.11.1
aiohttp==3.9.3
asyncua==1.0.6
langchain
ipywidgets
streamlit
tiktoken
opencv-python==4.9.0.80
python-docx
langchain-openai
git+https://github.com/vateseif/Safe-panda-gym.git@safe_rl-panda-gym